# API Keys (for refernce look at litellm docs).
# If you want to use other llm provider change the models in the llm configuration.
# Then add the api key based on litellm docs.
GEMINI_API_KEY=your_gemini_api_key_here

# Store Directory Configuration
STORE_FOLDER=./reports

# LLM Model Configuration
LLM_MODEL=gemini/gemini-2.0-flash
THINKING_MODEL=gemini/gemini-2.0-flash-thinking-exp-01-21

# Token Limits
MAX_INPUT_TOKEN=1048576
MAX_OUTPUT_TOKEN=8192
THINK_MAX_OUTPUT_TOKEN=65536

# Temperature Settings
DEFAULT_TEMPERATURE=0.3
QUERY_TEMPERATURE=0.7
ANSWER_TEMPERATURE=0.1

# Retry and Delay Settings
MAX_RETRIES=3
COOL_DOWN_DELAY=4

# Insight Generation Settings
NUM_INSIGHTS=5
NUM_FOLLOWUP_QUESTIONS=2

# Query Generation Settings
MAX_NUM_OF_QUERIES=3
MAX_RESEARCH_GOALS=3

# Web Search Settings
MAX_SEARCH_RESULTS=2
MAX_CONCURRENT_SEARCHES=3

# Search Agent Settings
RESEARCH_DEPTH=2

# SearxNG Configuration
SEARXNG_URL=http://searxng:8080
SEARXNG_PORT=8080
SEARXNG_SECRET=a2fb23f1b02e6ee83875b09826990de0f6bd908b6638e8c10277d415f6ab852b
